# .github/workflows/ci.yml
name: Secure CI Pipeline

on:
  pull_request:
  push:
    branches: [ main ]

jobs:
  security:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Run Gitleaks (Secrets Scan)
      uses: gitleaks/gitleaks-action@v2
      env:
        GITLEAKS_LICENSE: ""

    - name: Run Semgrep (SAST)
      uses: semgrep/semgrep-action@v1
      with:
        config: p/default

    - name: Run Trivy (Dependency Scan)
      uses: aquasecurity/trivy-action@master
      with:
        scan-type: fs
        severity: CRITICAL,HIGH
        exit-code: 1

